.search {
    border: 1px solid gray;
}

.searchBar {
    height: 30px;
    width: 100%;
}

.searchButton {
    width: 30px;
    height: 30px;
    position: absolute;
    float: left;
    border: none;
    background: white;
}

.searchInput {
    height: 100%;
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: none;
}

.searchButtonIcon {
    fill: gray;
}