@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
.nav {
    width: 10%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 40vh;
    padding-top: 15vh;
    align-items: center;
    border: 1px solid gray;
}

.icon {}

.navItem {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 16px;
}

.navItem:hover {
    background-color: rgba(236, 236, 236, 0.876);
    transition: 450ms;
}

.iconLabel {
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
}

.appIcon {}

#tweetBtn {
    background-color: rgba(52, 140, 255, 0.876);
    color: white;
}