@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
.sideNav {
    width: 25%;
    height: 100vh;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    position: absolute;
    z-index: 5;
    left: 0;
    transform: translateX(-100%);
    transition: 300ms;
}

.sideNav-open {
    transform: translateX(0%);
}

.navIcon {
    position: relative;
    width: 2rem;
    height: 2rem;
    fill: rgb(255, 255, 255);
    margin-left: 5px;
    flex-shrink: 0;
}

.navIcon:hover {}

.navLabel {
    margin-left: 10px;
    color: rgb(231, 231, 231);
}

.homeNavItem {
    /* margin-top: 1rem; */
}

.navItem {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    transition: 300ms;
}

.navItem:hover {
    cursor: pointer;
    background: rgb(34, 34, 34);
    transform: scaley(1.2);
}

.navItem:active {
    cursor: pointer;
    color: black;
    background-color: darkgray;
}

.sidenav-toggle-svg {
    position: absolute;
    z-index: 5;
    padding: 1rem;
    fill: white;
    left: 3rem;
    top: 3rem;
    width: 4rem;
    height: 4rem;
    background: rgba(59, 59, 59, 0.1);
    border-radius: 50%;
    transition: 400ms;
}

.sidenav-toggle-svg:hover {
    background: rgb(93, 93, 93);
}

.sidenav-toggle-svg:active {
    background: gray;
}

@media(max-width:350px) {
    .sideNav {
        display: none;
    }
    .sidenav-toggle-svg {
        display: none;
    }
}

@media (max-width:750px) {}