.home {
    border: 1px solid gray;
    width: 50%;
    /* width: 100%; */
    background: white;
    backdrop-filter: blur(70px);
}

.topNav {
    width: 100%;
    position: absolute;
    backdrop-filter: blur(18px) saturate(0%);
    -webkit-backdrop-filter: blur(13px) saturate(0%);
    background-color: rgba(255, 255, 255, 0.63);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.bottomNav {
    height: 99.5vh;
    padding: 2rem 1rem;
    overflow-y: scroll;
}

.bottomNav::-webkit-scrollbar {
    display: none;
}