/* .tweets {
    display: flex;
    height: 97vh;
} */

.tweets::-webkit-scrollbar {
    /* width: .5rem; */
    display: none;
}


/* .tweets::-webkit-scrollbar-track {
    background: white;
    border-radius: 100vw;
    margin-block: .4rem;
}

.tweets::-webkit-scrollbar-thumb {
    background: rgb(177, 177, 177);
    border-radius: 100vw;
    border: 1px solid white;
} */

.tweetContent {
    display: flex;
    flex-direction: column;
}

.postIcon {
    width: 1.5rem;
    height: 1.5rem;
    fill: red;
}

.postIcon:hover {
    background-color: pink;
    box-shadow: pink 10px 10px 10px;
    background-clip: content-box;
}

.postIcon:active {
    transform: scale(2);
    transition: 300ms;
}