/* .tweets {
    display: flex;
    height: 97vh;
} */

.tweets::-webkit-scrollbar {
    /* width: .5rem; */
    display: none;
}


/* .tweets::-webkit-scrollbar-track {
    background: white;
    border-radius: 100vw;
    margin-block: .4rem;
}

.tweets::-webkit-scrollbar-thumb {
    background: rgb(177, 177, 177);
    border-radius: 100vw;
    border: 1px solid white;
} */

.tweetContent {
    display: flex;
    flex-direction: column;
}

.loader {
    fill: black;
}

p.senderID {
    color: gray;
}

.post {
    padding: .5rem 0;
    border-bottom: 1px solid lightgray;
}

.post>* {
    padding: .2rem 0;
}

.postIcons {
    display: flex;
    justify-content: space-evenly;
}

.postIcon {
    width: 5rem;
    height: 2rem;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.postsvg {
    fill: rgb(90, 90, 90);
    width: 1.5rem;
    height: 1.5rem;
    transition: 300ms;
}

.postsvg_like:hover {
    fill: red;
    transform: scale(1.4);
}

.postsvg_replies:hover {
    fill: rgb(0, 0, 0);
    transform: scale(1.4);
}

.postsvg:active {
    transform: scale(2);
}

.tweetFile {
    height: 20rem;
    width: 100%;
}

.iconCount {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}