/* .tweets {
    display: flex;
    height: 97vh;
} */

.tweets::-webkit-scrollbar {
    /* width: .5rem; */
    display: none;
}


/* .tweets::-webkit-scrollbar-track {
    background: white;
    border-radius: 100vw;
    margin-block: .4rem;
}

.tweets::-webkit-scrollbar-thumb {
    background: rgb(177, 177, 177);
    border-radius: 100vw;
    border: 1px solid white;
} */

.tweetContent {
    display: flex;
    flex-direction: column;
}

.postIcon {
    width: 1.5rem;
    height: 1.5rem;
    fill: gray;
}

.postIcon:hover {
    fill: red;
    box-shadow: -1px -1px 40px 10px pink;
    -webkit-box-shadow: -1px -1px 40px 10px pink;
    -moz-box-shadow: -1px -1px 40px 10px pink;
    background: radial-gradient(pink, rgb(255, 234, 234));
}

.postIcon:active {
    transform: scale(2);
    transition: 300ms;
}

.tweetFile {
    height: 20rem;
    width: 100%;
}