.chatroom {
    /* background-color: gray; */
    width: 100vw;
    height: 100vh;
    display: flex;
}

.leftChatNav {
    width: 10vw;
    height: 100vh;
    background-color: gray;
    /* border: 1px solid red; */
}

.rightChatNav {
    height: 100vh;
    width: 30vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
    flex-shrink: 1;
    border: 1px solid gray;
}

.rightChatNav p {
    text-decoration: underline;
}

.chatroom-dp {}

.activeChannel {
    /* border: 1px solid blue; */
    width: 100%;
}