.privateChats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.chat1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.addConversation {
    border: none;
    padding: 1rem;
    background-color: lightgreen;
    transition: 300ms;
    border-radius: 10px;
}

.addConversation:hover {
    background-color: green;
    color: white;
}

.addConversation:active {
    background-color: rgb(0, 0, 0);
}