.searchChannel {
    height: 2rem;
}

.searchChannelButton {
    width: 2rem;
    height: 2rem;
    position: absolute;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px 0 0 5px;
    transition: 300ms;
}

.searchChannelButton:hover {
    background-color: lightgray;
}

.searchChannelButton:active {
    background-color: gray;
}

.searchChannelInput {
    height: 2rem;
    padding: 10px 3px 10px 2rem;
    border-radius: 5px 5px 5px 5px;
}