.profile {
    height: 100vh;
    width: 50vw;
    border: 1px solid gray;
}

.topContainer {
    background: rgba(0, 0, 0, .5);
    position: relative;
    z-index: 2;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem 5rem;
}

#back {
    border: none;
    outline: none;
    width: 6rem;
    height: 3rem;
    border-radius: 10px;
    transition: 300ms;
}

#back:hover {
    background: lightgray;
}

#back:active {
    background: darkgray;
    color: white;
}

.bottomContainer {}

.bottomContainer1 {
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-around;
    background: lightgray;
}

.profilePic {
    background: url('../../../assets/starry_sky.jpg');
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    transform: translateY(50%);
}

.profilebtn {
    border: 1px solid gray;
    outline: none;
    height: 3rem;
    width: 6rem;
    border-radius: 10px;
    transform: translateY(200%);
    transition: 300ms;
}

.profilebtn:hover {
    background-color: gray;
}

.profilebtn:active {
    background: black;
    color: white;
}

.bottomContainer2 {
    padding: 5rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.edit {
    height: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    width: 50%;
    min-width: 250px;
}

.edit:focus {
    border: 2px solid rgb(0, 98, 255);
}