@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.app {
    display: flex;
    justify-content: center;
    /* background: url('../assets/beach.png'); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Open Sans', sans-serif;
}