.signIn {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: lightgray;
}

.signInForm {
    background-color: white;
    margin-top: 10vh;
    width: 40vw;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0 2rem 0;
    border: 1px solid gray;
    box-shadow: 0px 3px 9px 1px rgba(89, 89, 89, 0.75);
    -webkit-box-shadow: 0px 3px 9px 1px rgba(89, 89, 89, 0.75);
    -moz-box-shadow: 0px 3px 9px 1px rgba(89, 89, 89, 0.75);
}

div h2 {
    text-decoration: underline;
}

.formElement {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formElement label {
    color: rgb(87, 87, 87);
}

.signInFormInput {
    height: 2rem;
    min-width: 250px;
    padding: 0.5rem;
    border: 1px solid gray;
    border-radius: 5px;
}

.signInFormInput:focus {
    border: 2px solid lightblue;
}

.password {
    display: flex;
    position: relative;
    align-items: center;
}

.password svg {
    position: absolute;
    z-index: 2;
    right: 0.5rem;
}

.authbtn {
    width: 6rem;
    height: 2rem;
    border: 1px solid gray;
    transition: 300ms;
    background-color: lightblue;
}

.authbtn:hover {
    background-color: blue;
    color: white;
}

.authbtn:active {
    background-color: black;
    color: white;
}